body {
  font: 100% Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #001128;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: url(../design/first_page/res/main_with_snow.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  @media only screen and (max-width: 480px) {
    body {
      background-color: rgba(46, 204, 113, 0.5); }
      body .menu-logo {
        background-color: black;
        background-image: none;
        height: 0px; } }
  @media only screen and (max-width: 767px) {
    body {
      background-color: rgba(52, 152, 219, 0.5); } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    body {
      background-color: rgba(155, 89, 182, 0.5); } }
  @media only screen and (min-width: 1200px) {
    body .menu-logo {
      background-image: url(../design/first_page/res/logo.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-attachment: initial;
      width: 100px; } }

.nav-el {
  width: 250px;
  height: 100px; }

.navbar-default {
  color: white;
  background-color: transparent; }

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    color: white;
    font: 25px Helvetica, sans-serif; } }
