body {
  font: 100% Montserrat;
  color: #FFFFFF;
  background-color: #001128;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: url(../design/first_page/res/main_with_snow.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 480px) {
    body {
      background-color: rgba(46, 204, 113, 0.5); }
      body .menu-logo {
        background-color: black;
        background-image: none;
        height: 0px; } }
  @media only screen and (max-width: 767px) {
    body {
      background-color: rgba(52, 152, 219, 0.5); } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    body {
      background-color: rgba(155, 89, 182, 0.5); } }
  @media only screen and (min-width: 1200px) {
    body .menu-logo {
      background-image: url(../design/first_page/res/logo.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-attachment: initial;
      width: 100px; } }

.nav-el {
  white-space: nowrap;
  border: 1px solid sandybrown;
  margin: 0px 20px 20px 0px;
  font-weight: bold; }

.menu-logo {
  margin-top: 13px;
  margin-right: 90px;
  padding-right: 50px;
  height: 75px; }

.nav-el:not(.menu-logo) {
  margin-top: 16px; }

.men-contacts {
  margin-left: 8px; }

.men-blog {
  margin-left: -38px; }

.navbar-default {
  color: white;
  background-color: transparent; }

.navbar {
  border: 1px solid sandybrown; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-family: Montserrat; }

.navbar-default .navbar-nav > li > a:hover {
  color: #BEBEBE; }

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    color: white;
    font: 25px Montserrat;
    text-align: center; } }

#h1-main-page {
  font-weight: 900; }
  @media only screen and (max-width: 480px) {
    #h1-main-page {
      font-size: 28px; } }

@media only screen and (min-width: 1200px) {
  #main-text-p {
    font-size: 16px; } }

@media only screen and (max-width: 480px) {
  #main-text-p {
    font-size: 14px; } }

#main-text {
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 5%; }
