body {
  font: 100% Montserrat;
  color: #FFFFFF;
  background-color: #001128;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: url(../design/first_page/res/main_with_snow.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 480px) {
    body {
      background-color: rgba(46, 204, 113, 0.5); }
      body .menu-logo {
        display: none; } }
  @media only screen and (max-width: 767px) {
    body {
      background-color: rgba(52, 152, 219, 0.5); }
      body .menu-logo {
        display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    body {
      background-color: rgba(155, 89, 182, 0.5); }
      body .menu-logo {
        display: none; } }
  @media only screen and (min-width: 1024px) {
    body .menu-logo {
      background-image: url(../design/first_page/res/logo.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-attachment: initial;
      width: 100px; } }

.nav-el {
  white-space: nowrap;
  margin: 0px 20px 20px 0px;
  font-weight: bold; }

.menu-logo {
  margin-top: 13px;
  margin-right: 70px;
  padding-right: 50px;
  height: 75px; }

.nav-el:not(.menu-logo) {
  margin-top: 16px; }

.men-contacts {
  margin-left: 8px; }
  @media only screen and (max-width: 767px) {
    .men-contacts {
      margin-left: 0px; } }

.men-blog {
  margin-left: -38px; }
  @media only screen and (max-width: 767px) {
    .men-blog {
      margin-left: 0px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .men-blog {
      margin-left: 0px; } }

.navbar-default {
  color: white;
  background-color: transparent; }

@media only screen and (max-width: 767px) {
  .men-lang {
    padding: 10px 5px;
    background-color: rgba(88, 46, 99, 0.9); } }

.navbar {
  border: none; }
  @media only screen and (max-width: 767px) {
    .navbar {
      z-index: 10; } }
  @media only screen and (max-width: 480px) {
    .navbar {
      z-index: 10; } }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: "Montserrat-Medium", sans-serif; }
  @media only screen and (min-width: 1024px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 16px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 12px;
      background-color: rgba(88, 46, 99, 0.9); } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 12px;
      background-color: rgba(88, 46, 99, 0.9); } }

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(88, 46, 99, 0.9); } }

.navbar-default .navbar-nav > li > a:hover {
  color: #BEBEBE; }

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    color: white;
    font: 25px "Montserrat-Medium", sans-serif;
    text-align: center; } }

.h1-main-page, .h1-team-page {
  font-weight: 900;
  font-family: "MontserratBlack", sans-serif; }
  @media only screen and (max-width: 480px) {
    .h1-main-page, .h1-team-page {
      font-size: 22px; } }
  @media only screen and (max-width: 767px) {
    .h1-main-page, .h1-team-page {
      font-size: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .h1-main-page, .h1-team-page {
      font-size: 30px; } }

#main-text-p {
  font-family: "OpenSans-Regular", sans-serif; }
  @media only screen and (min-width: 1024px) {
    #main-text-p {
      font-size: 16px; } }
  @media only screen and (max-width: 480px) {
    #main-text-p {
      font-size: 12px; } }

#main-text, #form-text {
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 5%; }
  @media only screen and (max-width: 767px) {
    #main-text, #form-text {
      left: 2%;
      top: 45%; } }
  @media only screen and (max-width: 480px) {
    #main-text, #form-text {
      top: 45%; } }

.lang {
  background-color: transparent;
  border: none; }
  @media only screen and (min-width: 1024px) {
    .lang {
      font-size: 16px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .lang {
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .lang {
      font-size: 12px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .lang {
      font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    .lang {
      font-size: 12px; } }

.lang:hover {
  color: #333; }

.dropdown-menu {
  background-color: transparent; }

.dropdown-menu > li > a {
  color: white;
  font-size: 16px;
  padding: 3px 7px; }

.flag-ico {
  vertical-align: unset; }
  @media only screen and (min-width: 1024px) {
    .flag-ico {
      width: 20px; } }
  @media only screen and (max-width: 767px) {
    .flag-ico {
      width: 15px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .flag-ico {
      width: 20px; } }
  @media only screen and (max-width: 480px) {
    .flag-ico {
      width: 15px; } }

.flag {
  margin-right: 1px;
  vertical-align: middle; }

.dropdown-menu {
  border-radius: 0px;
  min-width: 140px; }

.drop-text {
  vertical-align: top; }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .drop-text {
      vertical-align: super; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .drop-text {
      vertical-align: super; } }

@media only screen and (min-width: 1024px) {
  .navbar-right {
    margin-top: -95px; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .navbar-right {
    margin-top: -75px; } }

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    font-size: 12px;
    padding-left: 7px; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    font-size: 12px;
    padding-left: 7px; } }

@media only screen and (max-width: 480px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    font-size: 12px;
    padding-left: 7px; } }

.btn-main {
  background-color: #ffeb3c;
  color: #10425c;
  font-family: "MontserratBlack", sans-serif;
  font-size: 12px; }
  @media only screen and (max-width: 767px) {
    .btn-main {
      font-size: 8px;
      padding: 5px 5px; } }

.footer-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding-right: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 1024px) {
    .footer-main {
      text-align: right; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .footer-main {
      text-align: right; } }
  @media only screen and (max-width: 767px) {
    .footer-main {
      padding-left: 10px;
      text-align: left; } }

.h5-events {
  font-family: "Montserrat-ExtraBold", sans-serif; }
  @media only screen and (min-width: 1024px) {
    .h5-events {
      text-align: left; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .h5-events {
      text-align: left; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .h5-events {
      text-align: left; } }
  @media only screen and (max-width: 767px) {
    .h5-events {
      text-align: left;
      font-size: 9px; } }
  @media only screen and (max-width: 480px) {
    .h5-events {
      text-align: left;
      font-size: 10px; } }

@media only screen and (min-width: 1024px) {
  #h5-events-2 {
    visibility: visible; } }

@media only screen and (min-width: 979px) and (max-width: 1024px) {
  #h5-events-2 {
    visibility: visible; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #h5-events-2 {
    visibility: visible; } }

@media only screen and (max-width: 767px) {
  #h5-events-2 {
    visibility: hidden; } }

@media only screen and (max-width: 480px) {
  #h5-events-2 {
    display: none; } }

@media only screen and (min-width: 1024px) {
  #h5-events-1 {
    visibility: hidden; } }

@media only screen and (min-width: 979px) and (max-width: 1024px) {
  #h5-events-1 {
    visibility: hidden; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #h5-events-1 {
    visibility: hidden; } }

@media only screen and (max-width: 767px) {
  #h5-events-1 {
    visibility: visible; } }

@media only screen and (max-width: 480px) {
  #h5-events-1 {
    visibility: visible; } }

.text-events {
  font-family: "Montserrat-Bold", sans-serif;
  float: left;
  text-align: left;
  font-size: 11px; }
  @media only screen and (max-width: 767px) {
    .text-events {
      padding-left: 10px;
      font-size: 9px; } }
  @media only screen and (max-width: 480px) {
    .text-events {
      font-size: 9px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .text-events {
      padding-left: 0px; } }

.img-events {
  float: left; }
  @media only screen and (min-width: 1024px) {
    .img-events {
      width: 175px;
      padding-bottom: 10px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .img-events {
      width: 160px; } }
  @media only screen and (max-width: 767px) {
    .img-events {
      width: 60px;
      padding-bottom: 0px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .img-events {
      width: 120px;
      padding-bottom: 5px;
      padding-right: 5px; } }
  @media only screen and (max-width: 480px) {
    .img-events {
      width: 90px;
      padding-bottom: 10px; } }

.div-events {
  display: block; }
  @media only screen and (min-width: 1024px) {
    .div-events {
      float: right; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .div-events {
      float: right; } }
  @media only screen and (max-width: 767px) {
    .div-events {
      float: left; } }

@media only screen and (min-width: 979px) and (max-width: 1024px) {
  #events {
    padding-right: 30px; } }

/**
 * Styles for Second Page
**/
#about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
  background-attachment: fixed;
  position: relative;
  z-index: -9;
  margin-top: -10%;
  padding: 0px; }
  @media only screen and (max-width: 480px) {
    #about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
      margin-top: -20%; } }

#about-1 img, #about-2 img, #about-3 img, #about-5 img {
  width: 100%; }

#about-2, #about-3, #about-4, #about-5, #about-6 {
  z-index: 1; }

.h4-main-page {
  font-family: "Montserrat-Medium", sans-serif;
  color: #191d72; }

.h1-team-page {
  color: #2a2a2a; }

#team-text-p {
  font-family: "OpenSans-Regular", sans-serif;
  color: #191d72; }

.sq-text {
  background-image: url(../design/first_page/res/sq_topl.png);
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 5%;
  padding: 10px; }

#sq-text h1 {
  font-family: "Montserrat-ExtraBold", sans-serif;
  color: white;
  text-align: center; }

#sq-text p {
  font-family: "MontserratBlack", sans-serif;
  color: white; }

#sq-text-1 {
  left: 50%; }

#sq-text-2 {
  left: 67%; }

#sq-text-3 {
  left: 77%; }

#about-3 {
  position: relative; }

.coach-text, .where-text {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
  text-align: center; }

.coach-text h5 {
  font-family: "Montserrat-Medium", sans-serif; }

.coach-text h3, .h3-where-text, #form-text h4 {
  font-family: "MontserratBlack", sans-serif; }

#coach-photos, #coach-btn, #where-photos, #where-photos1, #cost-btn, #cost-photos1 {
  top: 35%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline; }

#where-photos, #where-photos1, #cost-photos1 {
  align-items: center; }

#coach-photos h5 {
  font-family: "OpenSans-Bold", sans-serif;
  color: #191d72;
  font-size: 15px; }

#coach-photos p {
  font-family: "OpenSans-Regular", sans-serif;
  color: #191d72;
  font-size: 13px; }

#coach-btn {
  top: 80%; }

.coach {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px;
  margin-left: 5px; }

#about-4, #about-6 {
  margin-top: 5%;
  background-color: white; }

.where-text-1 {
  margin-left: 10px;
  margin-top: 5%; }

#img-where {
  width: 100%; }

.h3-where-text {
  color: #191d72; }

.h1-team-page, #team-text-p {
  text-align: left; }

#about-5 {
  margin-top: 70%; }

.form-control {
  background-color: transparent; }

.old-cost {
  background-image: url(../design/first_page/res/old_cost.jpg);
  margin-right: 10px; }

.offer-cost {
  background-image: url(../design/first_page/res/offer_cost.jpg); }

#cost-text {
  position: relative; }

#cost-photos1 h3, p {
  font-family: "MontserratBlack", sans-serif;
  color: white; }

#cost-photos1 h3 {
  font-weight: 900; }

#cost-btn {
  margin-top: 3%; }

#about-6 {
  margin-bottom: 5%; }

/**
  Footer
 */
#nav-footer {
  margin-left: 10px; }

#nav-footer > li > a {
  font-family: "Geometria-Medium", sans-serif; }
  @media only screen and (min-width: 1024px) {
    #nav-footer > li > a {
      font-size: 12px; } }
  @media only screen and (max-width: 767px) {
    #nav-footer > li > a {
      font-size: 12px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #nav-footer > li > a {
      font-size: 12px; } }

#logo-footer {
  width: 60%; }

.page-footer {
  padding-bottom: 0px; }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../public/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MontserratBlack";
  src: url("../public/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../public/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../public/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../public/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../public/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
