//$border-debug: none;
$border-debug: 1px solid sandybrown;
$font-stack: Montserrat;
$font-color: #FFFFFF;
$background-color: #001128;
$background-image-logo: url(../images/main/logo.gif); 
$background-image-desctop: url(../images/main/main_with_snow.gif); 

$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$ipad: '(min-width: 979px) and (max-width: 1024px)';
$large-desktop: '(min-width: 1024px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
                    (-o-min-device-pixel-ratio: 3/2), 
                    (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), 
                    (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin background-img($img) {
  background-image: $img;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @content;
}

body {
    font: 100% $font-stack;
    color: $font-color;
    //background-image: $background-image-desctop;
    background-color:  $background-color;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  
  
    @include background-img($background-image-desctop);
  
    @include respond-to($phone) {
      //background-image: none;
      background-color: rgba(#2ecc71, .5);
      .menu-logo {
          display: none;
      }
    }
    @include respond-to($tablet-portrait) {
      //background-image: none;
      background-color: rgba(#3498db, .5);
      .menu-logo {
        display: none;
      }
    }
    @include respond-to($tablet-landscape) {
      //background-image: none;
      background-color: rgba(#9b59b6, .5);
      .menu-logo {
        display: none;
      }
  
  
    }
  
    @include  respond-to($large-desktop){
      .menu-logo {
        @include background-img($background-image-logo){
          background-attachment: initial;
        }
        width: 100px;
      }
    } 
  }


  

  @font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "MontserratBlack";
    src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }