.nav-el{
    //width: 200px;
    //height: 100px;
    white-space: nowrap;
    margin: 0px 20px 20px 0px;
    font-weight: bold;
  }
  
  .menu-logo{
    margin-top: 13px;
    margin-right: 70px;
    padding-right: 50px;
    height: 75px;
  }
  
  .nav-el:not(.menu-logo){
    margin-top: 16px;
  }
  
  .men-contacts{
    margin-left: 8px;
    @include respond-to($tablet-portrait) {
      margin-left: 0px;
    }
  }
  
  .men-blog{
    margin-left: -38px;
    @include respond-to($tablet-portrait) {
      margin-left: 0px;
    }
    @include respond-to($tablet-landscape) {
      margin-left: 0px;
    }
  }
  
  .navbar-default{
    color: white;
    background-color: transparent;
  }
  
  .navbar-collapse{
    @include  respond-to($large-desktop){
      position: relative;
    }
  
    @include respond-to($ipad) {
      position: relative;
    }
    @include respond-to($tablet-landscape) {
      position: relative;
    }
    @include respond-to($tablet-portrait) {
      position: absolute;
    }
    @include respond-to($phone) {
      position: absolute;
    }
  
  }
  
  .men-about{
    //padding-right: 50px;
    //margin-right: 60px;
  }
  
  .men-lang{
    @include respond-to($tablet-portrait) {
      padding: 10px 5px;
      background-color: rgba(88, 46, 99, 0.9);
    }
  
  }
  
  .navbar{
    border: none;
    @include respond-to($tablet-portrait) {
      z-index: 10;
    }
  
    @include respond-to($phone) {
      z-index: 10;
    }
  }
  
  .navbar-default .navbar-nav>li>a{
    color: #fff;
    font-family: "Montserrat-Medium", sans-serif;
  
    @include  respond-to($large-desktop){
      font-size: 16px;
    }
  
    @include respond-to($ipad) {
      font-size: 14px;
    }
  
    @include respond-to($tablet-portrait) {
      font-size: 12px;
      background-color: rgba(88, 46, 99, 0.9);
    }
    @include respond-to($tablet-landscape) {
      font-size: 12px;
    }
    @include respond-to($phone) {
      font-size: 12px;
      background-color: rgba(88, 46, 99, 0.9);
    }
  }
  
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover{
    @include respond-to($tablet-portrait) {
      background-color: rgba(88, 46, 99, 0.9);
    }
  }
  
  .navbar-default .navbar-nav>li>a:hover{
    color: #BEBEBE;
    //font-size: 20px;
  }
  
  @media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        color: white;
        font: 25px "Montserrat-Medium", sans-serif;
        text-align:center;
    }
  }
  
  .h1-main-page{
    font-weight: 900;
    font-family: "MontserratBlack", sans-serif;
  
    @include respond-to($ipad) {
      font-size: 30px;
    }
  
    @include respond-to($tablet-portrait) {
      font-size: 20px;
    }
  
    @include respond-to($tablet-landscape) {
      font-size: 30px;
    }
  
    @include respond-to($phone) {
      font-size: 20px;
    }
  }
  
  .main-text-p{
    font-family: "OpenSans-Regular", sans-serif;
    @include  respond-to($large-desktop){
      font-size: 16px;
    }
    @include  respond-to($ipad){
      font-size: 14px;
    }
  
    @include respond-to($phone) {
      font-size: 12px;
    }
  }
  
  #main-text, #form-text, #team-text {
    margin: 0;
    transform: translateY(-50%);
    position: absolute; 
    top: 50%; 
    left: 5%;
  
    @include respond-to($tablet-landscape) {
      left: 2%;
      top: 45%;
    }
  
    @include respond-to($tablet-portrait) {
      left: 2%;
      top: 45%;
    }
  
    @include respond-to($phone) {
      top: 45%;
    }
  }
  #form-text{
    @include respond-to($tablet-portrait) {
      left: 5%;
      top: 50%;
    }
  }
  
  
  .lang{
    background-color: transparent;
    border: none;
    @include  respond-to($large-desktop){
      font-size: 16px;
    }
  
    @include respond-to($ipad) {
      font-size: 14px;
    }
  
    @include respond-to($tablet-portrait) {
      font-size: 12px;
    }
    @include respond-to($tablet-landscape) {
      font-size: 12px;
    }
    @include respond-to($phone) {
      font-size: 12px;
    }
  }
  
  .lang:hover{
    color: #333;
  }
  
  .dropdown-menu{
    background-color: transparent;
  }
  .dropdown-menu > li > a{
    color: white;
    font-size: 16px;
    padding: 3px 7px;
  }
  
  .flag-ico{
    vertical-align: unset;
    @include  respond-to($large-desktop){
      width: 20px;
    }
    @include respond-to($tablet-portrait) {
      width: 15px;
    }
    @include respond-to($tablet-landscape) {
      width: 20px;
    }
    @include respond-to($phone) {
      width: 15px;
    }
  
  }
  
  .flag{
    margin-right: 1px;
    vertical-align: middle;
  }
  
  .dropdown-menu{
    border-radius: 0px;
    min-width: 140px;
  }
  
  .drop-text {
    vertical-align: top;
  
    @include  respond-to($ipad) {
      vertical-align: super;
    }
  
    @include respond-to($tablet-landscape) {
      vertical-align: super;
    }
  
  }
  
  .navbar-right{
    @include  respond-to($large-desktop) {
      margin-top: -95px;
    }
  
    @include respond-to($tablet-landscape) {
      margin-top: -75px;
    }
  
  
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a{
    @include respond-to($tablet-portrait) {
      color: white;
      font-size: 12px;
      padding-left: 7px;
    }
  
    @include respond-to($tablet-landscape) {
      color: white;
      font-size: 12px;
      padding-left: 7px;
    }
  
    @include respond-to($phone) {
      color: white;
      font-size: 12px;
      padding-left: 7px;
    }
  }
  
  .btn-main{
    background-color: rgb(255, 235, 60);
    color: #10425c;
    font-family: "MontserratBlack", sans-serif;
    font-size: 12px;
  

  
    @include respond-to($tablet-landscape) {
      font-size: 9px;
      padding: 5px 5px;
    }

    @include respond-to($tablet-portrait) {
      font-size: 10px;
      padding: 4px 4px;
    }
  
  }
