@import "all";
@import "navbar";

$background-image-panels: url(../images/about/sq_topl.png);
$background-image-old_cost: url(../images/about/old_cost.jpg);
$background-image-offer_cost: url(../images/about/offer_cost.jpg);

.col-xs-9{
  @include  respond-to($tablet-portrait){
    width:100%;
  }

  @include respond-to($phone) {
    width:100%;
  }

}

#about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {

    background-attachment: fixed;
    position: relative;
    padding: 0px;
  
    @include  respond-to($large-desktop){
      margin-top: -10%;
    }
  
    @include  respond-to($ipad){
      margin-top: -13%;
    }
  
    @include  respond-to($tablet-landscape){
      margin-top: -14%;
    }
  
    @include  respond-to($tablet-portrait){
      margin-top: -12%;
    }
  
    @include respond-to($phone) {
      margin-top: -19%;
    }
  
  }
  
  #about-2{
    @include  respond-to($ipad){
      margin-top: -9%;
    }
  
    @include  respond-to($phone){
      margin-top: -7%;
    }
  }
  
  #about-1 img,  #about-2 img, #about-3 img, #about-5 img{
    width:100%;
  }

#about-1 img{
  @include respond-to($large-desktop) {
    content: url("../../design/first_page/res/about_main.png");
  }
  @include respond-to($phone) {
    content: url("../../design/first_page/res/about_2.png");
  }
}
  
  #about-2, #about-3, #about-4, #about-5, #about-6{
    z-index: 1;
  }
  
  .h1-about{
    @include respond-to($phone) {
      font-size: 24px;
      margin-top: 5px;
    }
  }
  
  #t-about{
    @include respond-to($phone) {
      font-size: 16px;
    }
  }
  
  .h4-main-page{
    font-family: "Montserrat-Medium", sans-serif;
    color: #191d72;
  
    @include respond-to($tablet-landscape) {
      font-size: 12px;
    }
    @include respond-to($tablet-portrait) {
      font-size: 13px;
    }
    @include respond-to($phone) {
      font-size: 10px;
      margin-bottom: 5px;
    }
  }
  
  .btn-about{
    @include respond-to($phone) {
      font-size: 12px;
      padding: 5px 5px;
      margin-bottom: 15px;
    }
  
  }
  
  .h1-team-page{
    font-weight: 900;
    font-family: "MontserratBlack", sans-serif;
    text-align: justify;
  
    @include respond-to($ipad) {
      font-size: 20px;
    }
  
    @include respond-to($tablet-landscape) {
      font-size: 20px;
    }

    @include respond-to($tablet-portrait) {
      font-size: 16px;
    }

    @include respond-to($phone) {
      font-size: 14px;
      margin-bottom: 5px;
    }
  
  }
#h3-team{
 @include respond-to($phone) {
    margin-top: 15px;
  }
}
  
  .h1-team-page{
    color: #2a2a2a;
    margin-top: auto;
  }
  
  #team-text-p{
    font-family: "OpenSans-Regular", sans-serif;
    color: #191d72;
    line-height: 2;
  
    @include  respond-to($large-desktop){
      font-size: 14px;
     
    }
  
    @include  respond-to($ipad){
      font-size: 12px;
    }
  
    @include respond-to($tablet-portrait) {
      font-size: 12px;
    }
  
    @include respond-to($phone) {
      font-size: 9px;
    }
  
  }
  
  .sq-text{
    background-image: $background-image-panels;
    margin: 0;
    transform: translateY(-45%);
    position: absolute;
    top: 5%;
    @include  respond-to($large-desktop){
      padding: 20px;
    }
    @include  respond-to($ipad){
      padding: 5px 15px;
    }
  
    @include  respond-to($tablet-landscape){
      padding: 2px 10px;
      transform: translateY(-35%);
    }
  
    @include  respond-to($tablet-portrait){
      padding: 1px 5px;;
      transform: translateY(-55%);
    }
    @include  respond-to($phone){
      padding: 3px 5px;;
      transform: translateY(-55%);
    }
  
  }
  
  #sq-text h1{
    font-family: "Montserrat-ExtraBold", sans-serif;
    color:white;
   // text-align: center;
    @include  respond-to($large-desktop){
      font-size: 55px;
    }
    @include  respond-to($tablet-landscape){
      font-size: 25px;
      margin-bottom: 5px;
    }
  
    @include  respond-to($tablet-portrait){
      font-size: 16px;
      margin-bottom: 3px;
    }
    @include  respond-to($phone){
      font-size: 12px;
      margin-bottom: 3px;
    }
  }
  
  #sq-text p{
    font-family: "MontserratBlack", sans-serif;
    color:white;
    @include  respond-to($large-desktop){
      font-size: 12px;
    }
    @include  respond-to($tablet-landscape){
      font-size: 9px;
    }
    @include  respond-to($tablet-portrait){
      font-size: 7px;
    }
    @include  respond-to($phone){
      font-size: 7px;
      margin-bottom: 5px;
    }
  
  }
  
  #sq-text-1{
    @include  respond-to($large-desktop){
      left: 36%;
    }
  
    @include  respond-to($tablet-landscape){
      left: 46%;
    }
  
    @include  respond-to($tablet-portrait){
      left: 42%;
      width: 18%;
    }
    @include  respond-to($phone){
      left: 6%;
      width: 27%;
    }
  }
  
  .sq-text{
    @include  respond-to($large-desktop){
      height: 25%;
      width: 19%;
    }
  
  
  }
  
  #sq-text-2{
    @include  respond-to($large-desktop){
      left: 56%;
    }
  
    @include  respond-to($tablet-landscape){
      left: 63%;
    }
  
    @include  respond-to($tablet-portrait){
      left: 61%;
      width: 18%;
    }
    @include  respond-to($phone){
      left: 36%;
      width: 27%;
    }
  
  }
  
  #sq-text-3{
    @include  respond-to($large-desktop){
      left: 76%;
    }
  
    @include  respond-to($tablet-landscape){
      left: 79%;
    }
    @include  respond-to($tablet-portrait){
      left: 80%;
      width: 18%;
    }
    @include  respond-to($phone){
      left: 66%;
      width: 27%;
    }
  }
  
  #team-text{
    @include  respond-to($large-desktop){
      margin-top: 4%;
      margin-left: 6%;
    }
  
    @include  respond-to($ipad){
      margin-left: 6%;
    }
  
    @include  respond-to($tablet-landscape){
      margin-top: 4%;
    }
  
    @include  respond-to($tablet-portrait){
      position: relative;
      margin-top: 9%;
    }
  
    @include  respond-to($phone){
      transform: translateY(-30%);
      position: relative;
      margin-right: 10px;
      margin-top: 2%;
    }
  
  
  }
  
  #about-3{
    position: relative;
    margin-top: auto;
    @include  respond-to($tablet-portrait){
      top: -200px;
    }

    @include  respond-to($phone){
      top: -30px;
    }
  }
  
  .coach-text, .where-text{
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 10%;
    bottom: 0;
    text-align: center;
  
    @include  respond-to($tablet-portrait){
      top: 5%;
    }
  
    @include  respond-to($phone){
      top: 1%;
    }
  
  
  }

.where-text{
  @include  respond-to($tablet-portrait){
    position: relative;
  }
  @include  respond-to($phone){
    position: relative;
  }
}

  .coach-text h5 {
    font-family: "Montserrat-Medium", sans-serif;
  
    @include  respond-to($tablet-landscape){
      font-size: 12px;
    }
  
    @include  respond-to($tablet-portrait){
      font-size: 10px;
    }
  
    @include  respond-to($phone){
      font-size: 7px;
      margin-bottom: 2px;
    }
  }
  
  .coach-text h3, .h3-where-text, #form-text h4 {
    font-family: "MontserratBlack", sans-serif;
    text-align: center;

    @include  respond-to($large-desktop){
      font-size: 28px;
      margin-bottom: 20px;
    }
  
    @include  respond-to($tablet-landscape){
      font-size: 17px;
    }
  
    @include  respond-to($tablet-portrait){
      margin-top: 5px;
      font-size: 12px;
    }
  
    @include  respond-to($phone){
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

 #form-text, #team-text  {
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 5%;

  @include respond-to($tablet-landscape) {
    left: 2%;
    top: 45%;
  }

  @include respond-to($tablet-portrait) {
    left: 2%;
    top: 45%;
  }

  @include respond-to($phone) {
    top: 45%;
  }
}
#form-text{
  @include respond-to($large-desktop) {
    transform: translateY(-55%);
  }
  @include respond-to($tablet-portrait) {
    transform: translateY(-90%);
    left: 5%;
    top: 50%;
  }

  @include respond-to($phone) {
    position: relative;
    transform: translateY(-105%);
    left:0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
  
  #coach-photos, #coach-btn, #where-photos, #where-photos1, #cost-btn, #cost-photos1{
    top: 35%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    @include  respond-to($tablet-portrait){
      top: 30%;
    }
  
  
  }
  
  #where-photos, #where-photos1, #cost-photos1{
    align-items: center;
  }

#where-photos, #where-photos1{
  @include  respond-to($tablet-portrait){
    display: block;
  }
}
  
  #coach-photos h5{
    font-family: "OpenSans-Bold", sans-serif;
    color: #191d72;
    font-size:15px;
  
    @include  respond-to($tablet-landscape){
      font-size: 10px;
    }
  
    @include  respond-to($tablet-portrait){
      font-size: 10px;
      margin-bottom: 5px;
    }
    @include  respond-to($phone){
      font-size: 7px;
      margin-bottom: 2px;
      margin-top: 2px;
    }
  
  }
  #coach-photos p{
    font-family: "OpenSans-Regular", sans-serif;
    color: #191d72;
    font-size:13px;
  
    @include  respond-to($tablet-landscape){
      font-size: 9px;
    }
  
    @include  respond-to($tablet-portrait){
      font-size: 9px;
    }
  
    @include  respond-to($phone){
      font-size: 5px;
      margin-bottom: 2px;
    }
  
  }
  
  #coach-btn{
    top: 80%;
    @include  respond-to($tablet-portrait){
        top: 89%;
      }

    @include  respond-to($phone){
      top: 85%;
    }
  }
  
  .coach{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  #about-4, #about-6{
    margin-top: 5%;
    background-color: white;
    @include  respond-to($tablet-portrait){
      margin-top: 3%;
    }
    @include  respond-to($phone) {
        margin-top: -25%;
    }
  
  }
#about-4{
  @include  respond-to($tablet-portrait){
    margin-top: 1%;
  }
}
  
  .where-text-1{
    margin-left: 10px;
    margin-top: 5%;
  }
  
  #img-where{
    width: 100%;
  }
  .h3-where-text{
    color: #191d72;
  }
  
  .h1-team-page, #team-text-p{
    text-align: left;
  }
  
  #about-5{
    margin-top: 77%;
  
    @include  respond-to($tablet-portrait){
      margin-top: 5%;
    }
    @include  respond-to($phone){
      margin-top: 10%;
    }
  }
#about-5 img{
  @include  respond-to($phone){
    height: 250px;
  }
}

  
  .form-control{
    background-color: transparent;
  }
  
  .old-cost{
    background-image: $background-image-old_cost;
    margin-right: 10px;
    @include  respond-to($large-desktop){
      width: 20%;
      height: 150px;
      padding-top: 20px;
    }
  
    @include  respond-to($tablet-portrait){
      width: 20%;
      height: 80px;
      padding-top: 0px;
    }
    @include  respond-to($phone){
      height: 50px;
      width: 23%;
    }
  
  }
  
  .offer-cost{
    background-image: $background-image-offer_cost;
    @include  respond-to($large-desktop){
      width: 20%;
      height: 150px;
      padding-top: 20px;
    }
    @include  respond-to($tablet-portrait){
      width: 20%;
      height: 80px;
      padding-top: 0px;
    }
    @include  respond-to($phone){
      height: 50px;
      width: 23%;
    }
  }
  
  #cost-text{
    position: relative;
  }
  
  #cost-photos1 h2, p{
     font-family: "MontserratBlack", sans-serif;
     color:white;
   }
  
  #cost-photos1 h2{
    font-weight: 900;
    @include respond-to($tablet-portrait) {
      font-size: 16px;
    }
    @include respond-to($phone) {
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  
  #cost-photos1  p{
    @include  respond-to($large-desktop){
     font-size: 14px;
    }
    @include respond-to($tablet-portrait) {
      font-size: 11px;
    }
    @include respond-to($phone) {
      font-size: 7px;
      margin-bottom: 5px;
    }
  }
  
  #cost-btn{
    margin-top: 3%;
  }
  
  #about-6{
    margin-bottom: 5%;
    @include respond-to($phone) {
      margin-top: -55%;
    }

  }
  
  
  .form-control{
    @include respond-to($tablet-landscape) {
      font-size: 10px;
      height: 24px;
    }
    @include respond-to($tablet-portrait) {
      font-size: 9px;
      height: 20px;
    }
    @include respond-to($phone) {
      font-size: 5px;
      height: 15px;
      padding: 2px 6px;
    }
  }
  
  .form-group{
    @include respond-to($phone) {
      margin-bottom: 5px;
    }
  }

/**
  Footer
 */

.page-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-footer li {
  float: left;
}

.page-footer  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Geometria-Medium", sans-serif;

  @include respond-to($large-desktop) {
    font-size: 12px;
  }

  @include respond-to($tablet-portrait) {
    font-size: 8px;
  }

  @include respond-to($tablet-landscape) {
    font-size: 11px;
  }

  @include respond-to($phone) {
    padding: 10px 5px;
    font-size: 6px;
  }


}

.page-footer ul{
  padding-top: 10px;
  @include respond-to($tablet-portrait) {
    padding-top: 0px;
  }
  @include respond-to($phone) {
    padding-top: 0px;
  }

}



#logo-footer {
  width: 50%;

  @include respond-to($tablet-landscape) {
    width: 50%;
  }
  @include respond-to($tablet-portrait) {
    width: 50%;
  }
}
  
  .row{
    margin-right: 0px;
  }


  // slider style + block 2

  .sldr{
    margin-top: -32%;         
    /* border: 5px solid red; */ 
    @include respond-to($phone) {
      margin-top: 200px;   
    }
}

.mydots{
    background-color: #FFFFFF;
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: 29px;
    font-variant: small-caps;
    text-transform: none;
    padding: 10px;
}

.mydots {
    position: relative;
    background: transparent;
    border: 4px solid grey;
}

.mydots:after, .mydots:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mydots:after {
    border-color:  transparent;
    border-top-color: 8b8b8b;
    border-width: 20px;
    margin-left: -20px;
}

.mydots:before {
    border-color: transparent;
    border-top-color: #8b8b8b;
    border-width: 26px;
    margin-left: -26px;
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    bottom: 390px;
    margin-top: 50px;
}

.team{
    margin-left: 150px;
    margin-right: 150px;
}

.text-style-1rst-banner{
    font-family: "OpenSans-Regular", sans-serif;
    color: #191d72;
    line-height: 2;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}

.text-style-1rst-banner-if_you{
    margin-top: -5px;
}

.text-style-1rst-banner-ab{

    font-size: 15px;
}

#s1rst-banner-last{
    display: none;
}

.slick-active .mydots {
    
    border: 4px solid rgba(255, 235, 59, 1);
}

.slick-active .mydots:after {
    border-top-color: rgba(255, 235, 59, 1);
}

.slick-active .mydots:before {
  border-top-color: rgba(255, 235, 59, 1);
  @include respond-to($phone) {
    width: 50%;
  }

}
.logo-el{
  width: 9%;
  margin-left: 9px;
  @include respond-to($tablet-portrait) {
    margin-left: 5px;
    margin-right: -10%;
    margin-top: 7px;
    width: 10%;
  }
  @include respond-to($tablet-landscape) {
    margin-left: 5px;
    width: 10%;
  }



  @include respond-to($phone) {
    margin-right: -23%;
    width: 10%;
  }


}

.page-footer{
  padding-bottom: 0px;
}

#company-el{
  float:right;
  font-family: "Geometria-Medium", sans-serif;
  margin-top: 13px;
  padding-right: 9px;

  @include respond-to($large-desktop) {
    font-size: 12px;
  }

  @include respond-to($tablet-portrait) {
    font-size: 8px;
  }

  @include respond-to($tablet-landscape) {
    font-size: 11px;
  }
  @include respond-to($phone) {
    font-size: 6px;
    margin-top: 10px;
  }
}

.row{
  margin-right: 0px;
}

#error{
  color: red;
}

.img-modal, .text-modal h4{
  text-align: center;
}
.text-modal p, .text-modal ul > li{
  color:black;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
}

#about-1 img, #about-1 img:after, #about-1 img:before{
  @include respond-to($large-desktop) {
    content: url("../../design/first_page/res/about_main.png");
  }
  @include respond-to($ipad) {
    content: url("../../design/first_page/res/about_main.png");
  }
  @include respond-to($tablet-landscape) {
    content: url("../../design/first_page/res/about_main.png");
  }
  @include respond-to($tablet-portrait) {
    content: url("../../design/first_page/res/about_main.png");
  }
  @include respond-to($phone) {
    content: url("../images/about/about_2.png");
  }
}

.list-know{
  font-family: "OpenSans-Bold", sans-serif;
  list-style: none;

  @include respond-to($large-desktop) {
    font-size: 20px;
  }
  @include respond-to($phone) {
    padding-left: 0px;
    text-align: left;
  }

}

.list-know li {
  @include respond-to($large-desktop) {
    padding-bottom: 10px;
  }
}
.list-know li:hover, .list-know li:focus {
  color: #BEBEBE;
}

// slider style + block 2

.sldr{
  margin-top: -32%;
  /* border: 5px solid red; */
  @include respond-to($phone) {
    margin-top: 0px;
  }
}

.mydots{
  background-color: #FFFFFF;
  color: #000000;
  font-style: normal;
  font-weight: bolder;
  font-size: 29px;
  font-variant: small-caps;
  text-transform: none;
  padding: 10px;

  @include respond-to($phone) {
    font-size: 14px;
    padding: 4px;
  }

}

.mydots {
  position: relative;
  background: transparent;
  border: 4px solid grey;
}

.mydots:after, .mydots:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.mydots:after {
  border-color:  transparent;
  border-top-color: 8b8b8b;
  border-width: 20px;
  margin-left: -20px;
}

.mydots:before {
  border-color: transparent;
  border-top-color: #8b8b8b;
  border-width: 26px;
  margin-left: -26px;
}

.slick-dots {
  display: flex;
  justify-content: space-between;
  bottom: 390px;
  margin-top: 50px;
  @include respond-to($phone) {
    bottom: 530px;
  }
}

.team{
  margin-left: 150px;
  margin-right: 150px;

  @include respond-to($phone) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.text-style-1rst-banner{
  font-family: "OpenSans-Regular", sans-serif;
  color: #191d72;
  line-height: 2;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  @include respond-to($phone) {
    font-size: 10px;
  }
}

.text-style-1rst-banner-if_you{
  margin-top: -5px;
}

.text-style-1rst-banner-ab{

  font-size: 15px;
}

#s1rst-banner-last{
  display: none;
}

.slick-active .mydots {

  border: 4px solid rgba(255, 235, 59, 1);
}

.slick-active .mydots:after {
  border-top-color: rgba(255, 235, 59, 1);
}

.slick-active .mydots:before {
  border-top-color: rgba(255, 235, 59, 1);
}

// block with faq

.img-faq{
  background-image: url('../../design/first_page/res/img-faq.jpg');
  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

