
//$border-debug: none;
$border-debug: 1px solid sandybrown;
$font-stack: Montserrat;
$font-color: #FFFFFF;
$background-color: #001128;
$background-image-logo: url(../design/first_page/res/logo.gif); 
$background-image-desctop: url(../design/first_page/res/main_with_snow.gif); 

$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$ipad: '(min-width: 979px) and (max-width: 1024px)';
$large-desktop: '(min-width: 1024px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
                    (-o-min-device-pixel-ratio: 3/2), 
                    (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), 
                    (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin background-img($img) {
  background-image: $img;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @content;
}


body {
  font: 100% $font-stack;
  color: $font-color;
  //background-image: $background-image-desctop;
  background-color:  $background-color;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;


  @include background-img($background-image-desctop);

  @include respond-to($phone) {
    //background-image: none;
    background-color: rgba(#2ecc71, .5);

    .menu-logo {
      background-color: black;
      background-image: none;
      height: 0px;
    }
  }
  @include respond-to($tablet-portrait) {
    //background-image: none;
    background-color: rgba(#3498db, .5);
  }
  @include respond-to($tablet-landscape) {
    //background-image: none;
    background-color: rgba(#9b59b6, .5);

  }

  @include  respond-to($large-desktop){
    .menu-logo {
      @include background-img($background-image-logo){
        background-attachment: initial;
      }
      width: 100px;
    }
  }
  
}

.nav-el{
  //width: 200px;
  //height: 100px;
  white-space: nowrap;
  border: $border-debug;
  margin: 0px 20px 20px 0px;
  font-weight: bold;
}

.menu-logo{
  margin-top: 13px;
  margin-right: 90px;
  padding-right: 50px;
  height: 75px;
}

.nav-el:not(.menu-logo){
  margin-top: 16px;
}

.men-contacts{
  margin-left: 8px;
}

.men-blog{
  margin-left: -38px;
}

.navbar-default{
  color: white;
  background-color: transparent;
}

.men-about{
  //padding-right: 50px;
  //margin-right: 60px;
}

.navbar{
  border: $border-debug;
}

.navbar-default .navbar-nav>li>a{
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat-Medium", sans-serif;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #BEBEBE;
  //font-size: 20px;
}

@media (min-width: 768px){
  .navbar-nav{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      color: white;
      font: 25px "Montserrat-Medium", sans-serif;
      text-align:center;
  }
}

.h1-main-page{
  font-weight: 900;
  font-family: "MontserratBlack", sans-serif;

  @include respond-to($phone) {
    font-size: 22px;
  }

  @include respond-to($tablet-portrait && $tablet-landscape) {
    font-size: 20px;
  }

  @include respond-to($tablet-landscape) {
    font-size: 30px;
  }

}

#main-text-p{
  font-family: "OpenSans-Regular", sans-serif;
  @include  respond-to($large-desktop){
    font-size: 16px;
  }
  @include respond-to($phone) {
    font-size: 12px;
  }
}

#main-text{
  margin: 0;
  transform: translateY(-50%);
  position: absolute; 
  top: 50%; 
  left: 5%;

  @include respond-to($tablet-portrait && $tablet-landscape) {
    left: 2%;
    top: 45%;
  }

  @include respond-to($phone) {
    top: 45%;
  }
}

.lang{
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.dropdown-menu{
  background-color: transparent;
}
.dropdown-menu > li > a{
  color: white;
  font-size: 16px;
  padding: 3px 7px;
}

.flag-ico{
  vertical-align: unset;
  @include  respond-to($large-desktop){
    width: 20px;
  }
  @include respond-to($tablet-portrait) {
    width: 15px;
  }
  @include respond-to($tablet-landscape) {
    width: 20px;
  }
  @include respond-to($phone) {
    width: 15px;
  }

}

.flag{
  margin-right: 1px;
  vertical-align: middle;
}

.dropdown-menu{
  border-radius: 0px;
  min-width: 140px;
}

.drop-text {
  vertical-align: top;
}

.navbar-right{
  @include  respond-to($large-desktop) {
    margin-top: -90px;
  }
}

.btn-main{
  background-color: rgb(255, 235, 60);
  color: #10425c;
  font-family: "MontserratBlack", sans-serif;
  font-size: 12px;

  @include respond-to($tablet-portrait && $tablet-landscape) {
    font-size: 8px;
    padding: 5px 5px;
  }
}

.footer-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;

  padding-right: 20px;
  padding-bottom: 20px;

  @include  respond-to($large-desktop){
    text-align: right;
  }

  @include respond-to($tablet-landscape) {
    text-align: right;
  }

  @include respond-to($tablet-portrait  && $phone) {
    padding-left: 10px;
    text-align: left;
  }

}

.h5-events{
  font-family: "Montserrat-ExtraBold", sans-serif;

  @include  respond-to($large-desktop){
    margin-right: 312px;
  }

  @include  respond-to($ipad){
    margin-right: 218px;
  }

  @include respond-to($tablet-portrait) {
    padding-left: 15px;
    font-size: 9px;
  }

  @include respond-to($tablet-landscape) {
    margin-right: 176px;
  }

  @include  respond-to($phone){
    padding-left: 15px;
    font-size: 10px;
  }


}

.text-events{
  font-family: "Montserrat-Bold", sans-serif;
  float: left;
  text-align: left;
  font-size: 11px;
  padding-left: 10px;

  @include  respond-to($phone){
    font-size: 9px;
  }

  @include  respond-to($ipad){
    padding-left: 0px;
  }
}

.img-events{
  float: left;

  @include  respond-to($large-desktop){
    width: 175px;
    padding-bottom: 10px;
  }

  @include  respond-to($ipad){
    width: 160px;
  }

  @include respond-to($tablet-portrait) {
    width: 60px;
    padding-bottom: 0px;
  }

  @include respond-to($tablet-landscape) {
    width: 140px;
    padding-bottom: 5px;
  }

  @include  respond-to($phone){
    width: 90px;
    padding-bottom: 10px;
  }

}

.div-events {

  display: block;
  @include  respond-to($large-desktop){
    float: right;
  }

  @include respond-to($tablet-landscape) {
    float: right;
  }

  @include respond-to($tablet-portrait && $phone) {
    float: left;
  }
}

#events{
  @include  respond-to($ipad){
    padding-right: 30px;
  }
}



@font-face {
  font-family: "Montserrat-Medium";
  src: url("../public/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBlack";
  src: url("../public/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../public/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../public/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../public/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}