// @import "_snow";


$border-debug: none;
//$border-debug: 1px solid sandybrown;
$font-stack: Montserrat;
$font-color: #FFFFFF;
$background-color: #001128;
$background-image-logo: url(../design/first_page/res/logo.gif); 
$background-image-desctop: url(../design/first_page/res/main_with_snow.gif); 

$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
                    (-o-min-device-pixel-ratio: 3/2), 
                    (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), 
                    (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin background-img($img) {
  background-image: $img;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @content;
}


.main-page{
  font: 100% $font-stack;
  color: $font-color;
  //background-image: $background-image-desctop;
  background-color:  $background-color;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  position:fixed;
  width:100%;
  

  @include background-img($background-image-desctop);
}

.cont{
  display: none;
}

#video{
  // background-image: url(../images/pattern.png);
  position: fixed;
  // opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;

  .video-skip{
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    // border: none;
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
  }

}

#video-tag{
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

#snow{
  position: fixed;
  display: block;
}

nav {

  @include respond-to($phone) {
    //background-image: none;
    background-color: rgba(#2ecc71, .5);

    .menu-logo {
      background-color: black;
      background-image: none;
      height: 0px;
    }
  }
  @include respond-to($tablet-portrait) {
    //background-image: none;
    background-color: rgba(#3498db, .5);
  }
  @include respond-to($tablet-landscape) {
    //background-image: none;
    background-color: rgba(#9b59b6, .5);

  }

  @include  respond-to($large-desktop){
    .menu-logo {
      @include background-img($background-image-logo){
        background-attachment: initial;
      }
      width: 100px;
    }
  }
  
}

.nav-el{
  //width: 200px;
  //height: 100px;
  white-space: nowrap;
  border: $border-debug;
  margin: 0px 20px 20px 0px;
  font-weight: bold;
}

.menu-logo{
  margin-top: 13px;
  margin-right: 90px;
  padding-right: 50px;
  height: 75px;
}

.nav-el:not(.menu-logo){
  margin-top: 16px;
}

.men-contacts{
  margin-left: 8px;
}

.men-blog{
  margin-left: -38px;
}

.navbar-default{
  color: white;
  background-color: transparent;
}

.men-about{
  //padding-right: 50px;
  //margin-right: 60px;
}

.navbar{
  border: $border-debug;
}

.navbar-default .navbar-nav>li>a{
  color: #fff;
  font-size: 16px;
  font-family:  Montserrat; 
}

.navbar-default .navbar-nav>li>a:hover{
  color: #BEBEBE;
  //font-size: 20px;
}

@media (min-width: 768px){
  .navbar-nav{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      color: white;
      font: 25px $font-stack;
      text-align:center;
  }
}

