@media only screen and (max-width: 480px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/main/main_with_snow.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media only screen and (max-width: 767px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/main/main_with_snow.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/main/main_with_snow.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

body {
  font: 100% Montserrat;
  color: #FFFFFF;
  background-color: #001128;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: url(../images/main/main_with_snow.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover; }
  @media only screen and (max-width: 480px) {
    body .menu-logo {
      display: none; } }
  @media only screen and (max-width: 767px) {
    body .menu-logo {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    body .menu-logo {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    body .menu-logo {
      background-image: url(../images/logo-test.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      background-attachment: initial;
      width: 100px; } }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MontserratBlack";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.nav-el {
  white-space: nowrap;
  margin: 0px 20px 20px 0px;
  font-weight: bold; }

.menu-logo {
  margin-top: 13px;
  margin-right: 70px;
  padding-right: 50px;
  height: 75px; }

.nav-el:not(.menu-logo) {
  margin-top: 16px; }

.men-contacts {
  margin-left: 8px; }
  @media only screen and (max-width: 767px) {
    .men-contacts {
      margin-left: 0px; } }

.men-blog {
  margin-left: -38px; }
  @media only screen and (max-width: 767px) {
    .men-blog {
      margin-left: 0px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .men-blog {
      margin-left: 0px; } }

.navbar-default {
  color: white;
  background-color: transparent; }

@media only screen and (min-width: 1024px) {
  .navbar-collapse {
    position: relative; } }

@media only screen and (min-width: 979px) and (max-width: 1024px) {
  .navbar-collapse {
    position: relative; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .navbar-collapse {
    position: relative; } }

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    position: absolute; } }

@media only screen and (max-width: 480px) {
  .navbar-collapse {
    position: absolute; } }

@media only screen and (max-width: 767px) {
  .men-lang {
    padding: 10px 5px;
    background-color: rgba(88, 46, 99, 0.9); } }

.navbar {
  border: none; }
  @media only screen and (max-width: 767px) {
    .navbar {
      z-index: 10; } }
  @media only screen and (max-width: 480px) {
    .navbar {
      z-index: 10; } }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: "Montserrat-Medium", sans-serif; }
  @media only screen and (min-width: 1024px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 16px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 12px;
      background-color: rgba(88, 46, 99, 0.9); } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 12px;
      background-color: rgba(88, 46, 99, 0.9); } }

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(88, 46, 99, 0.9); } }

.navbar-default .navbar-nav > li > a:hover {
  color: #BEBEBE; }

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    color: white;
    font: 25px "Montserrat-Medium", sans-serif;
    text-align: center; } }

.h1-main-page {
  font-weight: 900;
  font-family: "MontserratBlack", sans-serif; }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .h1-main-page {
      font-size: 30px; } }
  @media only screen and (max-width: 767px) {
    .h1-main-page {
      font-size: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .h1-main-page {
      font-size: 30px; } }
  @media only screen and (max-width: 480px) {
    .h1-main-page {
      font-size: 20px; } }

.main-text-p {
  font-family: "OpenSans-Regular", sans-serif; }
  @media only screen and (min-width: 1024px) {
    .main-text-p {
      font-size: 16px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .main-text-p {
      font-size: 14px; } }
  @media only screen and (max-width: 480px) {
    .main-text-p {
      font-size: 12px; } }

#main-text, #form-text, #team-text {
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 5%; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #main-text, #form-text, #team-text {
      left: 2%;
      top: 45%; } }
  @media only screen and (max-width: 767px) {
    #main-text, #form-text, #team-text {
      left: 2%;
      top: 45%; } }
  @media only screen and (max-width: 480px) {
    #main-text, #form-text, #team-text {
      top: 45%; } }

@media only screen and (max-width: 767px) {
  #form-text {
    left: 5%;
    top: 50%; } }

.lang {
  background-color: transparent;
  border: none; }
  @media only screen and (min-width: 1024px) {
    .lang {
      font-size: 16px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .lang {
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .lang {
      font-size: 12px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .lang {
      font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    .lang {
      font-size: 12px; } }

.lang:hover {
  color: #333; }

.dropdown-menu {
  background-color: transparent; }

.dropdown-menu > li > a {
  color: white;
  font-size: 16px;
  padding: 3px 7px; }

.flag-ico {
  vertical-align: unset; }
  @media only screen and (min-width: 1024px) {
    .flag-ico {
      width: 20px; } }
  @media only screen and (max-width: 767px) {
    .flag-ico {
      width: 15px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .flag-ico {
      width: 20px; } }
  @media only screen and (max-width: 480px) {
    .flag-ico {
      width: 15px; } }

.flag {
  margin-right: 1px;
  vertical-align: middle; }

.dropdown-menu {
  border-radius: 0px;
  min-width: 140px; }

.drop-text {
  vertical-align: top; }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .drop-text {
      vertical-align: super; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .drop-text {
      vertical-align: super; } }

@media only screen and (min-width: 1024px) {
  .navbar-right {
    margin-top: -95px; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .navbar-right {
    margin-top: -75px; } }

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    font-size: 12px;
    padding-left: 7px; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    font-size: 12px;
    padding-left: 7px; } }

@media only screen and (max-width: 480px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    font-size: 12px;
    padding-left: 7px; } }

.btn-main {
  background-color: #ffeb3c;
  color: #10425c;
  font-family: "MontserratBlack", sans-serif;
  font-size: 12px; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .btn-main {
      font-size: 9px;
      padding: 5px 5px; } }
  @media only screen and (max-width: 767px) {
    .btn-main {
      font-size: 10px;
      padding: 4px 4px; } }

@media only screen and (max-width: 767px) {
  .col-xs-9 {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .col-xs-9 {
    width: 100%; } }

#about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
  background-attachment: fixed;
  position: relative;
  z-index: -9;
  padding: 0px; }
  @media only screen and (min-width: 1024px) {
    #about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
      margin-top: -10%; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    #about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
      margin-top: -13%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
      margin-top: -14%; } }
  @media only screen and (max-width: 767px) {
    #about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
      margin-top: -12%; } }
  @media only screen and (max-width: 480px) {
    #about-1, #about-2, #about-3, #about-4, #about-5, #about-6 {
      margin-top: -20%; } }

@media only screen and (min-width: 979px) and (max-width: 1024px) {
  #about-2 {
    margin-top: -9%; } }

@media only screen and (max-width: 480px) {
  #about-2 {
    margin-top: -7%; } }

#about-1 img, #about-2 img, #about-3 img, #about-5 img {
  width: 100%; }

@media only screen and (min-width: 1024px) {
  #about-1 img {
    content: url("../../design/first_page/res/about_main.png"); } }

@media only screen and (max-width: 480px) {
  #about-1 img {
    content: url("../../design/first_page/res/about_2.png"); } }

#about-2, #about-3, #about-4, #about-5, #about-6 {
  z-index: 1; }

@media only screen and (max-width: 480px) {
  .h1-about {
    font-size: 12px;
    margin-top: 5px; } }

@media only screen and (max-width: 480px) {
  #t-about {
    font-size: 10px; } }

.h4-main-page {
  font-family: "Montserrat-Medium", sans-serif;
  color: #191d72; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .h4-main-page {
      font-size: 12px; } }
  @media only screen and (max-width: 767px) {
    .h4-main-page {
      font-size: 13px; } }
  @media only screen and (max-width: 480px) {
    .h4-main-page {
      font-size: 10px;
      margin-bottom: 5px; } }

@media only screen and (max-width: 480px) {
  .btn-about {
    font-size: 9px;
    padding: 2px 5px;
    margin-bottom: 15px; } }

.h1-team-page {
  font-weight: 900;
  font-family: "MontserratBlack", sans-serif;
  text-align: justify; }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .h1-team-page {
      font-size: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .h1-team-page {
      font-size: 20px; } }
  @media only screen and (max-width: 767px) {
    .h1-team-page {
      font-size: 16px; } }
  @media only screen and (max-width: 480px) {
    .h1-team-page {
      font-size: 14px;
      margin-bottom: 5px; } }

@media only screen and (max-width: 480px) {
  #h3-team {
    margin-top: 15px; } }

.h1-team-page {
  color: #2a2a2a;
  margin-top: auto; }

#team-text-p {
  font-family: "OpenSans-Regular", sans-serif;
  color: #191d72;
  line-height: 2; }
  @media only screen and (min-width: 1024px) {
    #team-text-p {
      font-size: 14px;
      margin-top: 5%; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    #team-text-p {
      font-size: 12px; } }
  @media only screen and (max-width: 767px) {
    #team-text-p {
      font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    #team-text-p {
      font-size: 9px; } }

.sq-text {
  background-image: url(../images/about/sq_topl.png);
  margin: 0;
  transform: translateY(-45%);
  position: absolute;
  top: 5%; }
  @media only screen and (min-width: 1024px) {
    .sq-text {
      padding: 30px; } }
  @media only screen and (min-width: 979px) and (max-width: 1024px) {
    .sq-text {
      padding: 5px 15px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .sq-text {
      padding: 2px 10px;
      transform: translateY(-35%); } }
  @media only screen and (max-width: 767px) {
    .sq-text {
      padding: 1px 5px;
      transform: translateY(-55%); } }
  @media only screen and (max-width: 480px) {
    .sq-text {
      padding: 3px 5px;
      transform: translateY(-55%); } }

#sq-text h1 {
  font-family: "Montserrat-ExtraBold", sans-serif;
  color: white; }
  @media only screen and (min-width: 1024px) {
    #sq-text h1 {
      font-size: 55px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #sq-text h1 {
      font-size: 25px;
      margin-bottom: 5px; } }
  @media only screen and (max-width: 767px) {
    #sq-text h1 {
      font-size: 16px;
      margin-bottom: 3px; } }
  @media only screen and (max-width: 480px) {
    #sq-text h1 {
      font-size: 12px;
      margin-bottom: 3px; } }

#sq-text p {
  font-family: "MontserratBlack", sans-serif;
  color: white; }
  @media only screen and (min-width: 1024px) {
    #sq-text p {
      font-size: 12px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #sq-text p {
      font-size: 9px; } }
  @media only screen and (max-width: 767px) {
    #sq-text p {
      font-size: 7px; } }
  @media only screen and (max-width: 480px) {
    #sq-text p {
      font-size: 7px;
      margin-bottom: 5px; } }

@media only screen and (min-width: 1024px) {
  #sq-text-1 {
    left: 36%; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #sq-text-1 {
    left: 46%; } }

@media only screen and (max-width: 767px) {
  #sq-text-1 {
    left: 42%;
    width: 18%; } }

@media only screen and (max-width: 480px) {
  #sq-text-1 {
    left: 6%;
    width: 27%; } }

@media only screen and (min-width: 1024px) {
  .sq-text {
    height: 25%;
    width: 19%; } }

@media only screen and (min-width: 1024px) {
  #sq-text-2 {
    left: 56%; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #sq-text-2 {
    left: 63%; } }

@media only screen and (max-width: 767px) {
  #sq-text-2 {
    left: 61%;
    width: 18%; } }

@media only screen and (max-width: 480px) {
  #sq-text-2 {
    left: 36%;
    width: 27%; } }

@media only screen and (min-width: 1024px) {
  #sq-text-3 {
    left: 76%; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #sq-text-3 {
    left: 79%; } }

@media only screen and (max-width: 767px) {
  #sq-text-3 {
    left: 80%;
    width: 18%; } }

@media only screen and (max-width: 480px) {
  #sq-text-3 {
    left: 66%;
    width: 27%; } }

@media only screen and (min-width: 1024px) {
  #team-text {
    margin-top: 4%;
    margin-left: 6%; } }

@media only screen and (min-width: 979px) and (max-width: 1024px) {
  #team-text {
    margin-left: 6%; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #team-text {
    margin-top: 4%; } }

@media only screen and (max-width: 767px) {
  #team-text {
    position: relative;
    margin-top: 9%; } }

@media only screen and (max-width: 480px) {
  #team-text {
    transform: translateY(-30%);
    position: relative;
    margin-right: 10px;
    margin-top: 2%; } }

#about-3 {
  position: relative;
  margin-top: auto; }
  @media only screen and (max-width: 767px) {
    #about-3 {
      top: -200px; } }
  @media only screen and (max-width: 480px) {
    #about-3 {
      top: -100px; } }

.coach-text, .where-text {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .coach-text, .where-text {
      top: 5%; } }
  @media only screen and (max-width: 480px) {
    .coach-text, .where-text {
      top: 1%; } }

@media only screen and (max-width: 767px) {
  .where-text {
    position: relative; } }

@media only screen and (max-width: 480px) {
  .where-text {
    position: relative; } }

.coach-text h5 {
  font-family: "Montserrat-Medium", sans-serif; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .coach-text h5 {
      font-size: 12px; } }
  @media only screen and (max-width: 767px) {
    .coach-text h5 {
      font-size: 10px; } }
  @media only screen and (max-width: 480px) {
    .coach-text h5 {
      font-size: 7px;
      margin-bottom: 2px; } }

.coach-text h3, .h3-where-text, #form-text h4 {
  font-family: "MontserratBlack", sans-serif; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .coach-text h3, .h3-where-text, #form-text h4 {
      font-size: 17px; } }
  @media only screen and (max-width: 767px) {
    .coach-text h3, .h3-where-text, #form-text h4 {
      margin-top: 5px;
      font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    .coach-text h3, .h3-where-text, #form-text h4 {
      font-size: 9px;
      margin-bottom: 5px; } }

#form-text, #team-text {
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 5%; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #form-text, #team-text {
      left: 2%;
      top: 45%; } }
  @media only screen and (max-width: 767px) {
    #form-text, #team-text {
      left: 2%;
      top: 45%; } }
  @media only screen and (max-width: 480px) {
    #form-text, #team-text {
      top: 45%; } }

@media only screen and (max-width: 767px) {
  #form-text {
    left: 5%;
    top: 50%; } }

@media only screen and (max-width: 480px) {
  #form-text {
    position: relative;
    transform: translateY(-90%);
    left: 0;
    padding-left: 10px;
    padding-right: 10px; } }

#coach-photos, #coach-btn, #where-photos, #where-photos1, #cost-btn, #cost-photos1 {
  top: 35%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  @media only screen and (max-width: 767px) {
    #coach-photos, #coach-btn, #where-photos, #where-photos1, #cost-btn, #cost-photos1 {
      top: 30%; } }

#where-photos, #where-photos1, #cost-photos1 {
  align-items: center; }

@media only screen and (max-width: 767px) {
  #where-photos, #where-photos1 {
    display: block; } }

#coach-photos h5 {
  font-family: "OpenSans-Bold", sans-serif;
  color: #191d72;
  font-size: 15px; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #coach-photos h5 {
      font-size: 10px; } }
  @media only screen and (max-width: 767px) {
    #coach-photos h5 {
      font-size: 10px;
      margin-bottom: 5px; } }
  @media only screen and (max-width: 480px) {
    #coach-photos h5 {
      font-size: 7px;
      margin-bottom: 2px;
      margin-top: 2px; } }

#coach-photos p {
  font-family: "OpenSans-Regular", sans-serif;
  color: #191d72;
  font-size: 13px; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #coach-photos p {
      font-size: 9px; } }
  @media only screen and (max-width: 767px) {
    #coach-photos p {
      font-size: 9px; } }
  @media only screen and (max-width: 480px) {
    #coach-photos p {
      font-size: 5px;
      margin-bottom: 2px; } }

#coach-btn {
  top: 80%; }
  @media only screen and (max-width: 767px) {
    #coach-btn {
      top: 89%; } }
  @media only screen and (max-width: 480px) {
    #coach-btn {
      top: 85%; } }

.coach {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px;
  margin-left: 5px; }

#about-4, #about-6 {
  margin-top: 5%;
  background-color: white; }
  @media only screen and (max-width: 767px) {
    #about-4, #about-6 {
      margin-top: 3%; } }
  @media only screen and (max-width: 480px) {
    #about-4, #about-6 {
      margin-top: -25%; } }

@media only screen and (max-width: 767px) {
  #about-4 {
    margin-top: -29%; } }

.where-text-1 {
  margin-left: 10px;
  margin-top: 5%; }

#img-where {
  width: 100%; }

.h3-where-text {
  color: #191d72; }

.h1-team-page, #team-text-p {
  text-align: left; }

#about-5 {
  margin-top: 70%; }
  @media only screen and (max-width: 767px) {
    #about-5 {
      margin-top: 5%; } }
  @media only screen and (max-width: 480px) {
    #about-5 {
      margin-top: 10%; } }

.form-control {
  background-color: transparent; }

.old-cost {
  background-image: url(../images/about/old_cost.jpg);
  margin-right: 10px; }
  @media only screen and (min-width: 1024px) {
    .old-cost {
      width: 20%;
      height: 150px;
      padding-top: 20px; } }
  @media only screen and (max-width: 767px) {
    .old-cost {
      width: 20%;
      height: 80px;
      padding-top: 0px; } }
  @media only screen and (max-width: 480px) {
    .old-cost {
      height: 50px;
      width: 23%; } }

.offer-cost {
  background-image: url(../images/about/offer_cost.jpg); }
  @media only screen and (min-width: 1024px) {
    .offer-cost {
      width: 20%;
      height: 150px;
      padding-top: 20px; } }
  @media only screen and (max-width: 767px) {
    .offer-cost {
      width: 20%;
      height: 80px;
      padding-top: 0px; } }
  @media only screen and (max-width: 480px) {
    .offer-cost {
      height: 50px;
      width: 23%; } }

#cost-text {
  position: relative; }

#cost-photos1 h2, p {
  font-family: "MontserratBlack", sans-serif;
  color: white; }

#cost-photos1 h2 {
  font-weight: 900; }
  @media only screen and (max-width: 767px) {
    #cost-photos1 h2 {
      font-size: 16px; } }
  @media only screen and (max-width: 480px) {
    #cost-photos1 h2 {
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 5px; } }

@media only screen and (min-width: 1024px) {
  #cost-photos1 p {
    font-size: 14px; } }

@media only screen and (max-width: 767px) {
  #cost-photos1 p {
    font-size: 11px; } }

@media only screen and (max-width: 480px) {
  #cost-photos1 p {
    font-size: 7px;
    margin-bottom: 5px; } }

#cost-btn {
  margin-top: 3%; }

#about-6 {
  margin-bottom: 5%; }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .form-control {
    font-size: 10px;
    height: 24px; } }

@media only screen and (max-width: 767px) {
  .form-control {
    font-size: 9px;
    height: 20px; } }

@media only screen and (max-width: 480px) {
  .form-control {
    font-size: 5px;
    height: 15px;
    padding: 2px 6px; } }

@media only screen and (max-width: 480px) {
  .form-group {
    margin-bottom: 5px; } }

/**
    Footer
   */
.page-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.page-footer li {
  float: left; }

.page-footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Geometria-Medium", sans-serif; }
  @media only screen and (min-width: 1024px) {
    .page-footer li a {
      font-size: 12px; } }
  @media only screen and (max-width: 767px) {
    .page-footer li a {
      font-size: 8px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .page-footer li a {
      font-size: 11px; } }
  @media only screen and (max-width: 480px) {
    .page-footer li a {
      padding: 10px 5px;
      font-size: 6px; } }

.page-footer ul {
  padding-top: 10px; }
  @media only screen and (max-width: 767px) {
    .page-footer ul {
      padding-top: 0px; } }
  @media only screen and (max-width: 480px) {
    .page-footer ul {
      padding-top: 0px; } }

#logo-footer {
  width: 60%; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #logo-footer {
      width: 50%; } }
  @media only screen and (max-width: 767px) {
    #logo-footer {
      width: 25%; } }
  @media only screen and (max-width: 480px) {
    #logo-footer {
      width: 15%; } }

@media only screen and (max-width: 767px) {
  .logo-el {
    margin-left: 0px;
    margin-right: -10%;
    margin-top: 7px; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .logo-el {
    margin-left: -15px; } }

@media only screen and (max-width: 480px) {
  .logo-el {
    margin-right: -23%; } }

.page-footer {
  padding-bottom: 0px; }

#company-el {
  float: right;
  font-family: "Geometria-Medium", sans-serif;
  margin-top: 13px; }
  @media only screen and (min-width: 1024px) {
    #company-el {
      font-size: 12px; } }
  @media only screen and (max-width: 767px) {
    #company-el {
      font-size: 8px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    #company-el {
      font-size: 11px; } }
  @media only screen and (max-width: 480px) {
    #company-el {
      font-size: 6px;
      margin-top: 10px; } }

.row {
  margin-right: 0px; }
